</div>



<!-- Mainly scripts -->
<script>
    var urlBoot = 'http://wxapp.dahengdian.com';
    var urlModule = 'http://wxapp.dahengdian.com/master';
</script>
<script src="{$Think.config.resources}/js/jquery-3.1.1.min.js"></script>
<!--<script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>-->
<script src="{$Think.config.resources}/js/bootstrap.min.js"></script>
<script src="{$Think.config.resources}/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="{$Think.config.resources}/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="{$Think.config.resources}/js/time.js"></script>
<script src="{$Think.config.resources}/js/plugins/toastr/toastr.min.js"></script>

<!-- Sweet alert -->
<script src="{$Think.config.resources}/js/plugins/sweetalert/sweetalert.min.js"></script>

<!-- Ladda -->
<script src="{$Think.config.resources}/js/plugins/ladda/spin.min.js"></script>
<script src="{$Think.config.resources}/js/plugins/ladda/ladda.min.js"></script>
<script src="{$Think.config.resources}/js/plugins/ladda/ladda.jquery.min.js"></script>


<!-- Common -->
<script src="{$Think.config.resources}/js/common.js"></script>


