<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{$resourcePath}/css/style.css">
    <title>借款协议</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="{$resourcePath}/js/adaptive.js"></script>
    <script>
        window['adaptive'].desinWidth = 640;
        window['adaptive'].baseFont = 18;
        window['adaptive'].maxWidth = 480;
        window['adaptive'].init();
    </script>
</head>
<body>
<div class="content">
    <div class="content-box">
        <p class="title">借款协议</p>
        <p class="bian">协议编号：</p>
        <div class="content-txt">
            <p>甲方（出借人/质权人）：</p>
            <p>住址：</p>
            <p>乙方（出借人）：</p>
            <p>身份证号码：</p>
            <p>住址：</p>
            <p>甲乙双方经平等协商，就乙方出质机动车向甲方借款事宜达成一致意见，特订立本协议。</p>
            <p>丙方（服务方）：浙江博佳投资管理有限公司</p>
            <p>统一信用代码：91330102328214096K</p>
            <p>网址：www.bojiatouzi.com</p>
            <p>甲方一旦确认本合同即表示已全部阅读并完全理解本合同内容及其法律意义，并愿意按照本合同约定履行相关权利义务。如甲方不接受本合同内容的，请立即停止签约并停止使用本服务。</p>
            <p style="font-weight: bold;">第一条 借款用途</p>
            <p>本协议项下借款用于乙方,未经甲方书面同意，乙方不得将借款挪作他用。</p>
            <p style="font-weight: bold;">第二条  借款额度和使用期限</p>
            <p>
                2.1借款金额 _________元。
            </p>
            <p>
                2.2借款期限为___天，自______年___月___日起至______年___月___日止。
            </p>
            <p style="font-weight: bold;">第三条  利率、利息和费用</p>
            <p>
                3.1 借款利率：年化 ___%（一年按___天计算）。
            </p>
            <p>
                3.2 若乙方未按时归还借款，则逾期利率按未归还总金额__%/日支付从逾期之日起至实际支付之日止的逾期罚息。
            </p>
            <p style="font-weight: bold;">第四条  借款及还款账户</p>
            <p>
                4.1 甲方可将款项划入乙方指定的下列收款账户即视为乙方收到借款。   </p>
            <p>开户银行：______________</p>
            <p>账户名称：______________    <span>账号：_________</span></p>
            <p>乙方指定账户若非本人账户，则在收到款项后需向甲方出具收条，该账户人要出具说明表示自己知晓该笔款的具体情况。</p>
            <p>
                4.2 甲方指定以下账户为还款账户：</p>
            <p>开户银行：__________</p>
            <p>账户名称：__________  <span>账号：____________</span></p>
            <p style="font-weight: bold;">第五条  还款</p>
            <p>5.1乙方还款方式为借款到期一次性偿还本金。</p>
            <p>5.2若乙方提前还款，应向甲方多支付7天利息作为补偿金，本协议另有约定的除外。</p>
            <p style="font-weight: bold;">第六条 质押内容</p>
            <p>6.1质押物：乙方自愿以期所有的机动车（以下简称该车辆或质押车辆）作为质押物，为本协议项下借款提供担保。</p>
            <p>车辆品牌型号:_____</p>
            <p>车辆号牌:___________</p>
            <p>发动机号:________</p>
            <p>车架号:________</p>
            <p>6.2 质物评估价值_________元，实际质押额为元。抵押的效力及于抵押物的从物，从权利和享息，其最终价值以质权实现时实际处理质物所得价款为准，若借款人不能归还或不足归还借款本息时，出借人有权以质押财产折价或以拍卖、变卖、兑现的
                价款优先受偿，实现质权。不足受偿部分，出借人有权继续向借款人追偿。
            </p>
            <p>6.3 质押担保范围：本协议项下全部借款本金、利息、违约金、赔偿金以及甲方为实现债权所支出的费用包括但不限于诉讼费、财产保全费、评估费、
                执行费、拍卖费
            </p>
            <p> 6.4 甲方对质押物进行占有、保管、费用为_______元/辆/月计，该费用不计入乙方借款金额，由乙方在交付质押物时当场支付，如果有必要，乙方同意甲方委托第三方对质押车辆进行占有、保管。
            </p>
            <p style="font-weight: bold;">第七条 担保</p>
            <p>7.1 担保方（另行出具担保函）同意对本协议项下的借款承担连带保证责任。</p>
            <p>7.2 保证担保的范围包括本协议项下的借款本金、利息、违约金、诉讼费、律师费等实现债权的费用和所有其它应付费用。</p>
            <p> 乙方按本协议项下借款10%提供履约保证金,该保证金存款于甲方指定账户。若乙方逾期未归还借款，则甲方有权就该笔保证金优先受偿乙方所有未还款项包括但不限于借款本金、利息、罚息、违约金、诉讼费、公告费、评估费、律师费、差旅费等。</p>
            <p style="font-weight: bold;">第八条 权利和义务转让</p>
            <p>8.1 乙方同意并认可，甲方有权将其在本协议项下的权利部分或全部转让给第三方，该转让行为无续另行书面通知乙方,乙方同意质押车辆一并转质给第三方，无须另行书面通知乙方。
            </p>
            <p>8.2 未经甲方书面同意，乙方不得转让其在本协议项下的任何权利和义务。</p>
            <p style="font-weight: bold;">第九条 争议解决</p>
            <p>9.1甲方双方发生争议应协商解决，协商不成，任何一方可向杭州仲裁委员会提起仲裁，仲裁裁决是终局性的，对双方均有约束力。</p>
            <p>为便于协议各方及时收到仲裁文书，保证仲裁程序顺利进行，协议各方确认下述地址为仲裁文书送达地址。协议各方确认的送达地址如发生变更的，则应以书面方式通知协议其他各方，否则下述所列地址继续有效，自然人以户籍所在地或经常居住地为仲裁文书送达地址，法人或其他组织以工商登记中的住所地或主要经营机构所在地为仲裁文书送达地址，快递送达回执显示日或无回执情形下快递邮寄第4日视为送达日期。</p>
            <p style="font-weight: bold;">第十条  其他</p>
            <p>10.1乙方未按期偿还借款本金、利息（包括罚息和复利）或其他应付款项的，甲方有权通过媒体进行公告催收，并有权将乙方列入黑名单，在相关平台上公布实际信息。</p>
            <p>10.2本协议任何条款的无效或不可执行，不影响其他条款的有效性和可执行性，也不影响整个协议的效力。</p>
            <p>10.3经双方共同确认的附件构成本协议不要分割的组成部分，与本协议具有同等法律效力。</p>
            <p>以下无正文</p>
            <p>甲方（签署）：详见产品说明中的债权详情</p>
            <p>日期：</p>
            <p>乙方（签署）：</p>
            <p>日期：</p>
            <div>丙方（签署）：浙江博佳投资管理有限公司</div>
            <div class="img"><img src="{$resourcePath}/icon.png"></div>
            <p style="clear: both;">日期：</p>
        </div>
    </div>
</div>
</body>