<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>详情</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="{$resourcePath}/css/reset.css" rel="stylesheet">
    <link href="{$resourcePath}/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="{$resourcePath}/js/width-conversion.js"></script>
    <script type="text/javascript" src="{$resourcePath}/js/zepto.min.js"></script>
    <script type="text/javascript" src="{$resourcePath}/js/touch.js"></script>
</head>
<body>
保障
</body>
</html>