<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{$resourcePath}/css/style.css">
    <title>风险揭示书</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="{$resourcePath}/js/adaptive.js"></script>
    <script>
        window['adaptive'].desinWidth = 640;
        window['adaptive'].baseFont = 18;
        window['adaptive'].maxWidth = 480;
        window['adaptive'].init();
    </script>
</head>
<body>
<div class="content">
    <div class="content-box">
        <p class="title">风险揭示书</p>
        <div class="content-txt" style="margin-top: -0.2rem;">
            <p>尊敬的投资人：</p>
            <p>本产品投资可能面临下列各项风险。投资人系依赖于其自身的独立判断进行投资，投资人在作出决策前，应仔细阅读本提示书的内容，并自行承担所有可能出现的风险。本产品投资可能涉及的风险包括但不限于：</p>
            <p>1、收益风险：由于经济周期、市场环境等因素的影响导致借款人未能及时足额支付本金及收益，投资人面临本金及收益的损失的风险。</p>
            <p>本产品投资可能面临下列各项风险。投资人系依赖于其自身的独立判断进行投资，投资人在作出决策前，应仔细阅读本提示书的内容，并自行承担所有可能出现的风险。本产品投资可能涉及的风险包括但不限于：</p>
            <p>1、收益风险：由于经济周期、市场环境等因素的影响导致借款人未能及时足额支付本金及收益，投资人面临本金及收益的损失的风险。</p>
            <p>2、投资风险:本产品投资资金用于投资不违反法律法规、监管规定的具有良好流动性的金融工具或产品，包括存款、债券、债券基金、货币市场基金等货币市场工具，以及符合监管要求的债权类资产、权益类资产或资产组合。若本产品投向的资产出现违约时，本产品可能遭受损失。</p>
            <p>3、政策风险：因财政政策、货币政策、产业政策、区域发展政策等国家宏观政策发生变化，可能导致市场价格波动，从而影响本产品收益。</p>
            <p>4、利率风险：受国民经济形势和国家宏观政策的直接影响，市场利率存在波动的可能性，利率的波动将给投资人的收益水平带来一定的不确定性。</p>
            <p>5、税收风险：提取时，投资人获得的收益将缴纳相应税负。如果未来中国税法或相关税收管理条例发生变化，税务部门向产品投资人征收任何额外的税负，本产品的借款人及米庄理财均不承担任何补偿责任。</p>
            <p>6、网络通讯风险：互联网和移动通讯网络数据传输等原因，数据传输可能会出现中断、停顿、延迟，传输数据可能出现错误；投资人账号及密码信息泄露或客户身份可能被仿冒；投资人的网络终端设备及软件系统可能会受到非法攻击或病毒感染，导致交易数据无法传输或传输失败。</p>
            <p>7、法律风险：目前平台理财产品是金融市场的创新产品，与产品运作相关的法律制度还不完善，如果有关法律、法规或相关规定发生变化，可能会对本产品产生影响。</p>
            <p>8、不可抗力风险：指由于自然灾害、战争等不可抗力因素的出现，将严重影响金融市场的正常运行，可能影响产品的认购、投资、偿还等的正常进行，甚至导致本产品收益降低乃至本金损失。对于由不可抗力风险所导致的任何损失，由投资人自行承担。</p>
            <p>风险提示方：浙江博佳投资管理有限公司</p>
        </div>
    </div>
</div>
</body>
</html>