<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge chrome=1">
    <title>我在佳乾财富，短期高息，还有888元现金红包！</title>
    <meta content="telephone=no" name="format-detection">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="{$resourcePath}/mui.min.css">
    <link rel="stylesheet" type="text/css" href="{$resourcePath}/1019.css">
    <link rel="stylesheet" type="text/css" href="{$resourcePath}/mmm-account.css">
</head>
<body>
<style type="text/css">
    .a_bg {
        width:100%;
        background-image:url('http://slb.dahengdian.com/jiaqiancaifu/2018/03/01/XEuSQ9UcwV.jpg');
        background-position:center center;
        height:975px;
        position:relative;
    }
    .a_bg_login {
        width:287px;
        height:370px;
        background-color:#9A8453;
        top:140px;
        left:50%;
        margin-left:220px;
        position:absolute;
        border-radius:5px
    }
    .notake {
        width:250px;
        margin-left:auto;
        margin-right:auto;
    }
    .authCode-wrap {
        border-radius: .375rem;
        background: #fff;
        padding: .475rem 2.66666667%;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .authCode-wrap .code {
        display: block;
        border: none;
        width: 62.66666667%;
        padding: 0;
        margin: 0;
        float: left;
        height: 20px;
    }
    .get-code {
        color: #656565;
        line-height: 20px;
        height: 20px;
    <!-- border-left: 1px solid #cacaca; -->
        box-sizing: border-box;
        cursor:pointer;
    }
    body .error-wrapper {
        background-color: #ffffff;
        color: #000000;
        width: 260px;
        min-width:inherit;
        padding: 40px 40px;
    }
</style>

<div class="logOut-Prompt">
    <div class="logOut-content">
        <div class="logOut-text">您是老用户，马上去官网登录吧！</div>
        <div class="btn-group">
            <div class="cancel" style="border-right:1px solid rgba(0,0,0,.2);">取消</div>
            <div class="sure">确认</div>
        </div>
    </div>
</div>
<div class="safe-cover"></div>
<div class="error-wrapper"></div>

<div class="a_bg">
    <div class="a_bg_login">
        <div class="notake">
            <div class="telphone-wrap">
                <img src="http://slb.dahengdian.com/jiaqiancaifu/2018/03/01/3hMjjLODQU.png" style="height:80px;width:220px">
            </div>
            <div class="telphone-wrap">
                <input type="tel" placeholder="请输入手机号" class="mobile" id="mobile" maxlength="11">
            </div>
            <div class="authCode-wrap">
                <input type="tel" placeholder="请输入验证码" class="code" id="code" maxlength="6">
                <div class="get-code">获取验证码</div>
            </div>
            <div class="telphone-wrap">
                <input type="password" placeholder="请输入密码" class="mobile" id="password">
            </div>
            <div class="telphone-wrap">
                <input type="password" placeholder="重复密码" class="mobile" id="passwordRe">
            </div>
            <div class="submitBtn">注册领福利</div>
        </div>
    </div>
</div>


<!-- <div class="logOut-Prompt">
    <div class="logOut-content">
        <div class="logOut-text">您是老用户，马上下载APP赚钱吧！</div>
        <div class="btn-group">
            <div class="cancel" style="border-right:1px solid rgba(0,0,0,.2);">取消</div>
            <div class="sure">确认</div>
        </div>
    </div>
</div>
<div class="safe-cover"></div>
<div class="error-wrapper"></div> -->

<!-- <div class="safe-detail">
    <div class="header-img2">
        <img src="./我在佳乾财富，短期高息，还有888元现金红包！_files/redHeader2.png">
    </div>
    <div class="safe-text2">

    </div>
    <div class="safe-foot2">
        <img src="./我在佳乾财富，短期高息，还有888元现金红包！_files/knowBtn.png">
    </div>
</div> -->
<!-- <div class="page-group">

    <div class="mui-content" style="background:#fcfcfc">


        <div class="xw-page">
            <div class="banner">
                <img src="./我在佳乾财富，短期高息，还有888元现金红包！_files/banner1.png" alt="">
            </div>
            <div class="content">
                <div class="notake">
                    <div class="telphone-wrap">
                        <input type="tel" placeholder="请输入手机号" class="mobile" id="mobile" maxlength="11">
                    </div>
                    <div class="authCode-wrap">
                        <input type="tel" placeholder="请输入验证码" class="code" id="code" maxlength="6">
                        <div class="get-code">获取验证码</div>
                    </div>
                    <div class="telphone-wrap">
                        <input type="password" placeholder="请输入密码" class="mobile" id="password">
                    </div>
                    <div class="telphone-wrap">
                        <input type="password" placeholder="重复密码" class="mobile" id="passwordRe">
                    </div>
                    <div class="submitBtn">注册领福利</div>
                </div>
            </div>
            <div class="welfare">
                <img src="./我在佳乾财富，短期高息，还有888元现金红包！_files/title_01.png">
                <div class="welfare-item">
                    <img src="./我在佳乾财富，短期高息，还有888元现金红包！_files/welfare_icon1.png" class="welfare_icon">
                    <p class="title"><span>888元</span>理财红包</p>
                    <p class="desc">注册即送，投资立返</p>
                </div>
            </div>
            <div class="foot" style="color:#fff">
                客服电话：<a class="cservice" style="color:#429fff" href="tel:400-005-8155" target="_self">400-005-8155</a><br>
                活动最终解释权归佳乾财富所有
            </div>
        </div>

    </div>
</div> -->


<script src="{$resourcePath}/mui.min.js"></script>
<script src="{$resourcePath}/jquery-1.8.3.min.js"></script>
<script src="{$resourcePath}/jweixin-1.2.0.js"></script>
<script>
    var osType = 3;
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
    var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    if (isAndroid) {
        //这个是安卓操作系统
        osType = 2;
    }
    if (isIOS) {
        //这个是ios操作系统
        osType = 1;
    }

    $(function () {
        $(".safe-foot2").on('click', function () {
            $('.safe-detail').removeClass('on');
            $('.safe-cover').removeClass('on');
        });
        $(".safe-btn").on('click', function () {
            $('.safe-detail').addClass('on');
            $('.safe-cover').addClass('on');
        });
        $(".safe-foot").on('click', function () {
            $('.safe-detail').removeClass('on');
            $('.safe-cover').removeClass('on');
        });

        $("#mobile").on('focus', function () {
            $("#hideInput").css({'display': 'block'})
            $(this).removeClass("placeholderCenter") /*修改*/
            /*  $(this).addClass("placeholderLeft") */
        });

        $(".cancel").on('click', function () {
            $(".logOut-Prompt").hide();
        });
        $(".sure").on('click', function () {
            window.location.href="http://www.bojiatouzi.com/web/user/login";
        });

        $("#switch").on('click', function () {
            hideHook()
        });
        $("#mobile").on('focus', function () {
            showHook()
        });

        function showHook() {
            if ($('.hook').eq(0).hasClass('hideHook')) {
                $(".hook").each(function () {
                    $(this).removeClass('hideHook')
                })
            }
        }

        function hideHook() {
            $(".hook").each(function () {
                $(this).addClass('hideHook')
            })
        }

        /*$('.icon-check-circle').on('click', function ()  else {
         $(this).addClass('check');
         $('#hiddenCheck').attr("checked", 'true');
         }
         });*/
        /*错误提示*/
        function showError(text) { //传错误内容
            $(".error-wrapper").css({
                'opacity': '1',
                'visibility': 'visible'
            });
            $(".error-wrapper").html(text);
            setTimeout(function () {
                $(".error-wrapper").css({
                    'opacity': '0',
                    'visibility': 'hidden'
                });
            }, 2000)
        }

        /*错误提示*/
        /*发送验证码*/
        /*验证码倒计时*/
        var InterValObj;
        var curCount;
        var canClick=true;
        function sendMessage(sf) {
            //设置button效果，开始计时
            if(canClick){
                curCount = 60;
                canClick=false;
                sf.text('(' + curCount + "s)" + "后重发");
                InterValObj = window.setInterval(function () {
                    SetRemainTime(sf)
                }, 1000); //启动计时器，1秒执行一次
                //向后台发送处理数据
                var phone_number = $('#mobile').val();
                //首先判断是否新用户
                $.ajax({
                    type:'POST',
                    url: "/active/index/registersendmobilecode.html",
                    data: {"mobile": phone_number},
                    dataType: 'json',
                    success: function (data) {
                        if(data.code != 1){
                            $(".logOut-Prompt").show();
                        }else{
                            /*$.ajax({
                             type: "POST", //用POST方式传输
                             dataType: "JSON", //数据格式:JSON
                             url: '/m/sys/sendvercode', //目标地址
                             data: {
                             mobile:phone_number,
                             scene:"101",
                             code:$(".v_code_input").val()
                             },
                             error: function (data) {
                             },
                             success: function (data) {
                             if(data.code == '0'){
                             showError(data.message);
                             }else if(data.code=="107"){
                             }else{
                             if(data.message != null){
                             showError("验证码发送过于频繁，请稍后再试");
                             }
                             }
                             }
                             });*/
                        }
                    }
                });

            }
        }

        //timer处理函数
        function SetRemainTime(sf) {
            if (curCount == 0) {
                window.clearInterval(InterValObj);//停止计时器
                sf.removeAttr("disabled");//启用按钮
                canClick=true;
                sf.text(" 重新发送");
            }
            else {
                curCount--;
                sf.text('(' + curCount + "s)" + "");
            }
        }

        $('.get-code').on('click', function () { //执行获取验证码

            var phone = $('#mobile').val();
            if (!(/^1[3|4|5|7|8]\d{9}$/.test(phone))) {
                showError('手机号码格式错误')
                return false
            }
            else {
                var sf = $(this);

                sendMessage(sf);
            }
        });

        $(".submitBtn").on('click', function () {
            var mobile = $("#mobile").val()
            var code = $("#code").val()
            var check = $('#hiddenCheck').attr('checked');
            var passwordRe =  $("#passwordRe").val();
            var password =  $("#password").val();
            if (!(/^1[3|4|5|7|8]\d{9}$/.test(mobile))) {
                showError('手机号码格式错误')
                return false
            } else if (!code) {
                showError('验证码错误')
                return false
            } else {
                if(password != passwordRe) {
                    showError('两次输入密码不一致')
                    return false
                }
                if(password.length < 6 || passwordRe.length < 6) {
                    showError('密码长度必须6位或以上')
                    return false
                }
                $.ajax({
                    type: 'POST',
                    url: "/active/index/register.html",
                    data: {mobile: mobile, mobileCode: code, password:password, passwordRe:passwordRe, osType:osType, channel:'{$channel}'},
                    dataType: 'json',
                    success: function (data) {
                        if(data.code == 1){
                            alert("注册成功，点击确定领取888元红包吧")
                            window.location.href="http://www.bojiatouzi.com/web/user/login";//注册成功跳下载页
                        } else {
                            showError(data.msg);
                        }
                    },
                    error: function (data) {

                    }
                });
            }
        })



        $("#code").on("focus",function(){
            this.scrollIntoView(true)
        })

        $("#password").on("focus",function(){
            this.scrollIntoView(true)
        })

        $("#passwordRe").on("focus",function(){
            this.scrollIntoView(true)
        })
        /*window.addEventListener("resize", function () {
         if (document.activeElement.tagName == "INPUT" || document.activeElement.tagName == "TEXTAREA") {
         window.setTimeout(function () {
         document.activeElement.scrollIntoViewIfNeeded();
         console.log(123);
         }, 0);
         }
         })*/
    })

    /*var share = {
     picurl:'https://easyloan-static.fintechzh.com/static/wallet/images/licailogo.png',
     sharetitle:'推荐你【纵横理财】，安全高息！一起来赚钱！',
     sharecontent:'与主板上市公司股东联合发起，国有基金参与投资，注册送888元现金红包'
     };

     var wxconfig = {
     appId :'wx56cac733eec25be9',
     nonceStr :'c561f9fd-c469-4c79-b8a9-4c3ab286c4cf',
     timestamp :'1516454316',
     //url : 'http://m.lifo.com.cn/toutiao/sharedetailforxzapp?uuid=9b3109eb-93d7-11e7-8e02-6c92bf482157&from=singlemessage&isappinstalled=0',
     signature :'d1ff2f4c9332f0f58bbd03400d605d37cb35e4df'

     };

     wx.config({
     //debug: true,
     debug: false,
     appId: wxconfig.appId,
     timestamp: wxconfig.timestamp,
     nonceStr: wxconfig.nonceStr,
     signature: wxconfig.signature,
     jsApiList: ['checkJsApi','onMenuShareTimeline', 'onMenuShareAppMessage'] // 功能列表，我们要使用JS-SDK的什么功能
     });

     wx.ready(function(){
     wx.onMenuShareTimeline({
     title: share.sharetitle, // 分享标题
     link: location.href, // 分享链接
     imgUrl: share.picurl, // 分享图标
     success: function () {
     // 用户确认分享后执行的回调函数


     },
     cancel: function () {
     // 用户取消分享后执行的回调函数

     }
     });

     wx.onMenuShareAppMessage({
     title: share.sharetitle, // 分享标题
     desc: share.sharecontent, // 分享描述
     link: location.href, // 分享链接
     imgUrl: share.picurl, // 分享图标
     success: function () {
     // 用户确认分享后执行的回调函数
     //alert("成功");

     },
     cancel: function () {
     // 用户取消分享后执行的回调函数
     //alert("失败");
     }
     });

     });*/



</script>

</body></html>