<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{$resourcePath}/css/style.css">
    <title>用户注册协议</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="{$resourcePath}/js/adaptive.js"></script>
    <script>
        window['adaptive'].desinWidth = 640;
        window['adaptive'].baseFont = 18;
        window['adaptive'].maxWidth = 480;
        window['adaptive'].init();
    </script>
</head>
<body>
<div class="content">
    <div class="content-box">
        <p class="title">用户注册协议</p>
        <div class="content-txt" style="margin-top: -0.2rem;">
            <p>网络用户确认其提供的相关信息具有真实性和有效性，其具有完全民事行为能力，自己单独能够承担相应的法律责任。 平台用户注册或第一次登录时，平台对平台用户明示本服务协议。如平台用户不享受平台提供的相关服务，请平台用户选择不同意本服务协议; 如平台用户享受平台提供的服务，请平台用户在同意之前，仔细阅读、知悉并接受本协议的全部内容。接受本服务协议的，请谨慎选择同意本服务协议。</p>
            <p>网络用户在此书面确认其具有完全民事行为能力，其注册和使用“{$companyInfo['brand']}”互联网金融中介服务平台的行为，表明该平台用户在同意接受“{$companyInfo['brand']}”的服务时应受以下条款的约束。</p>
            <p>一、平台用户注册成功后，只能由平台用户自己使用，不得将平台用户名转让给第三方或授权给任何第三方使用。平台用户有义务对其账户采取有效的保护措施，其账户在“{$companyInfo['brand']}”互联网金融中介服务平台上的一切操作均由平台用户承担全部的法律后果，与“{$companyInfo['brand']}”无关。</p>
            <p>二、“{$companyInfo['brand']}”互联网金融中介服务平台为用户提供认证服务(包括但不限于身份识别、银行账户信息识别等)，建立用户信用数据库。但“{$companyInfo['brand']}”互联网金 融中介服务平台对平台用户的身份的准确性和绝对真实性不做任何保证，非因故意行为给平台用户造成损失不承担任何责任。</p>
            <p>三、平台用户允许“{$companyInfo['brand']}”通过各种渠道收集平台用户的(额外) 其它资料，并使用平台用户的资料以确保交易安全、解决争议或改进服务。</p>
            <p>四、“{$companyInfo['brand']}”对于平台用户的相关信息将尽最大的技术和管理予以保护。平台用户同意:当平台用户作为借款人(借款逾期未还时) (逾期还款时)，“{$companyInfo['brand']}”及作为放款人的(其他) 平台用户可披露借款人相关信息的方式追索债以采取(发布)权，并不受隐私保护的限制; 在平台用户违反“{$companyInfo['brand']}”互联网金融中介服务平台其他使用规定时，“{$companyInfo['brand']}”有权根据自己的单独判断或与该笔交易有关的其他平台用户的请求披露平台用户的个人资料，并不受隐私保护的限制。</p>
            <p>五、平台用户承诺合法使用“{$companyInfo['brand']}”提供的服务及网站内容。禁止在“{$companyInfo['brand']}”互联网金融中介服务平台上从事任何可能违反中国现行的法律、法规、规章和政府规范性文件的行为或者任何未经授权使用“{$companyInfo['brand']}”互联网金融中介服务平台的行为。</p>
            <p>六、“{$companyInfo['brand']}”互联网金融中介服务平台提供密码验证、交易密码作为主要的安全防护手段。平台用户自行采取有效保护措施，保证其用户名和密码的安全性，否则由此造成的损失由平台用户自行承担。</p>
            <p>七、平台用户有义务在注册的时候提供真实个人信息与资料，并保证诸如电子邮件地址、联系电话、地址等内容的有效性和真实性。如平台用户之间因交易产生诉讼的，“{$companyInfo['brand']}”有权根据隐私规则向对方披露相关用户的资料，不受隐私保护的限制。</p>
            <p>八、平台用户不得创建虚假交易进行欺诈他人借款或进行信用炒作，如违反本义务，情节严重的，将通过法律途径，对其“{$companyInfo['brand']}”互联网金融中介服务平台账户及账户内资金进行冻结处理;构成犯罪的，将依法移交司法机关处理。</p>
            <p>九、本服务协议内容包括本文条款及“{$companyInfo['brand']}”互联网金融中介服务平台已经发布的或将来可能发布的各类规则。所有规则为本协议不可分割的一部分，与协议正文具有同等法律效力。本协议是由平台用户与“{$companyInfo['brand']}”共同签订的，适用于平台用户在“{$companyInfo['brand']}”的全部活动。在“{$companyInfo['brand']}”互联网金融中介服务平台的某些部分或页面中可能存在除本协议以外的单独的附加服务条款，当这些条款存在冲突时，在该些部分和页面中优先适用附加条款。</p>
            <p>十、“{$companyInfo['brand']}"有权根据法律规定和实际需要不定时地制定、修改本协议、各类规则，本协议、各类规则有任何变更，“{$companyInfo['brand']}”将在网站上发布公告，经修订的协议、各类规则一经公布后，立即自动生效。平台用户有义务及时关注“{$companyInfo['brand']}”的网站，协议、各如不同类规则的变更视为平台用户及时知晓并同意，意变更后内容应及时书面通知“{$companyInfo['brand']}”，“{$companyInfo['brand']}”收到通知书后，有权不经任何告知终止服务协议或者限制平台用户进入“{$companyInfo['brand']}”的全部或者部分板块且不承担任何法律责任。</p>
            <p>十一、平台用户使用“{$companyInfo['brand']}”互联网金融中介服务平台可能涉及由第三方所有、控制或者运营的其他网站(以下称第三方网站)的，第三方网站的内容、产品、广告和其他任何信息均由平台用户自行判断真实性和有效性并自行承担风险，平台用户使用第三方网站请仔细阅读并慎重同意第三方网站的服务协议，其内容与本服务协议无关。“{$companyInfo['brand']}”对于平台用户使用第三方网站不推荐、不介绍，不做任何保证。因平台用户使用第三方网站产生争议或损失，{$companyInfo['brand']}”不负任何法律责任。</p>
            <p>十二、平台用户使用“{$companyInfo['brand']}”服务而产生的任何形式的直接或间接损失“{$companyInfo['brand']}”均不承担法律责任; 因“{$companyInfo['brand']}”或其涉及的第三方网站的设备、系统存在缺陷或者因为计算机病毒造成的损失“{$companyInfo['brand']}”均不负责赔偿。“{$companyInfo['brand']}”在本协议中明示承担责任的除外。</p>
            <p>十三、“{$companyInfo['brand']}”有权不时地根据法律、法规、政府要求披露、修改或者删除必要的、合适的信息，以便更好的运营“{$companyInfo['brand']}”互联网金融中介服务平台并 保护其他合法平台用户。</p>
            <p>十四、就任何第三方提出的，由于平台用户违反任何法律法规，本协议或纳入本协议的条款和规则而产生或引起的任何性质的索赔、要求、诉讼、损失和损害，平台用户同意就此对“{$companyInfo['brand']}”或“{$companyInfo['brand']}”的关联公司、董事高管、代理人或雇员进行补偿并使其免受损害。</p>
            <p>十五、“{$companyInfo['brand']}”平台上的全部内容的版权均属于“{$companyInfo['brand']}"所有，内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部内容(以下称网站内容)。网站内容受《中华人民共和国著作权法》及相关国际版权公约的保护。未经“{$companyInfo['brand']}”的书面许可，平台用户承诺不以任何方式、形式复制、模仿、传播、出版、展示网站内容，包括但不限 于电子的、机械的、复印的、录音、录像等形式。未经“{$companyInfo['brand']}”书面许可，平台用户亦不得将“{$companyInfo['brand']}”包含的资料等任何内容转载到其他任何网站和服务器。</p>
            <p>十六、平台用户使用“{$companyInfo['brand']}”平台所进行的所有的借贷活动，均需遵守国家的法律法规。</p>
            <p>十七、若注册用户基于“{$companyInfo['brand']}”平台发生争议，本条款应与其他合同、协议具有关联性， 可一并作为争议解决的证据的组成部分。</p>
            <p>十八、若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。</p>
            <p>十九、平台用户与“{$companyInfo['brand']}”"因提供服务所产生争议，双方协商解决，协商不成双方同意由“{$companyInfo['brand']}”公司住所地的人民法院管辖。</p>
            <p>二十、平台用户对以上内容，均已了解、知悉并同意。</p>
        </div>
    </div>
</div>
</body>
</html>