<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>安全保障</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="{$resourcePath}/css/reset.css" rel="stylesheet">
    <script type="text/javascript" src="{$resourcePath}/js/width-conversion.js"></script>
</head>
<body>
<img src="{$resourcePath}/img/active_d1.jpg" alt="" style="display: block;width: 100%;">
</body>
</html>